<div class="my-3">
  <h2>Plan Administration</h2>
</div>
<div class="my-2" (click)="onSubmit()">
  <button type="button" class="btn btn-dark">New Plan</button>

</div>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Tittle</th>
    <th scope="col">Hour</th>
    <th scope="col">Price</th>
    <th scope="col">Role</th>
  </tr>
  </thead>
  <tbody  *ngIf="planPage?.content">
  <tr *ngFor="let plan of planPage.content">
    <td>{{plan.id}}</td>
    <td>{{plan.tittle}}</td>
    <td>{{plan.hours}}</td>
    <td>{{plan.price}}</td>
    <td>{{plan.role}}</td>
  </tr>
  </tbody>
</table>
<nav aria-label="...">
  <ul style="margin-left: 180px;margin-top:-10px;" class="pagination"  *ngIf="planPage?.content" >
    <li *ngFor="let page of ' '.repeat(planPage.totalPages).split(''), let i = index " (click)="onSelect(i)" [class.active]="i === selectedPage" class="page-item"><a class="page-link">{{i}}</a></li>
  </ul>
</nav>
